

// COLORS
$color-radish: #F63A5B;
$color-blue: #3385FF;
$color-sun: #FEE279;
$color-mint: #9FD6AE;


$color-bg-lite: #f0f0f0;
$color-bg: white;

$color-type:        #464646;
$color-type-medium: #767676;
$color-type-lite:   #D6D6D6;

$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// SIZING
$spacer: 2vw;


@import "vendor/normalize";
@import "mixins";
@import "toggle-button";
@import "cause";
@import "adblocker-notification";
@import "newsletter-signup";

::selection {
  color: white;
  background-color: $color-radish;
}
body {
  display: flex;
  justify-content: flex-start;
  padding: 0 $spacer*3;
  border-left: 10px solid $color-bg-lite;
  font-family: $font-default;
  font-size: 16px;
  line-height: 1.5em;
  background-color: $color-bg;
  // background-image: url('/img/background.svg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top;
  // background-attachment: fixed;
  color: $color-type;
  &.active {
    border-left-color: $color-mint;
  }
  @include respond-up-to('md') {
    display: block;
  }
  @include respond-up-to('sm') {
    font-size: 20px;
    line-height: 1.3em;
    border-left-width: 6px;
  }
}
header {
  padding: $spacer*2 $spacer*2 0 0;
  flex: 1 33%;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  @include respond-up-to('md') {
    position: static;
  }
}
main {
  padding: $spacer*2 0 0 $spacer;
  flex: 3 66%;
  @include respond-up-to('md') {
    padding-left: 0;
  }
}
footer {
  margin: $spacer*3 0 $spacer/2;
  font-size: .75em;
}

nav {
  margin: $spacer/2 0;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5em;
    li {
      margin-bottom: 0.25em;
    }
  }
}

article {
  max-width: 640px;
  > h2 {
    margin-top: 0;
  }
}


h2 {
  font-size: 2em;
  margin: 1.5em 0 .25em;
  @include respond-up-to('sm') {
    font-size: 1.5em;
  }
}
h1,
h3,
h4 {
  font-size: 1.2em;
  margin: 3em 0 0.25em;
}

hr {
  margin: 5em 0 1.5em;
  border: 2px solid $color-bg-lite;
}
p {
  margin: 0 0 1em;
}
a {
  color: darken($color-mint,9%);
}
strong {
  // padding: .1em .2em;

}
em strong {
  // background-color: lighten($color-sun,20%);
}
// emoji fix for safari
i {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",sans-serif;
  font-style: normal;
  font-size: 1.1em;
}
button,
.btn {
  font-size: .9em;
  line-height: 1.1em;
  display: inline-block;
  background-color: $color-bg-lite;
  color: $color-type;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  padding: .5em .75em;
  &:hover {
    background-color: $color-mint;
    // text-decoration: underline;
  }
  &.active {
    color: white;
    background-color: $color-mint;
    &::before {
      font-weight: bold;
      content: "✓ ";
      color: white;
    }
  }
}


input{
  outline: none;
  &[type="email"]  {
    border: none;
    border-bottom: 2px solid $color-bg-lite;
    min-width: 50%;
    &:hover {
      border-bottom: 2px solid $color-mint;
    }
    &:focus {
      border-bottom: 2px solid $color-mint;
    }
  }
  &::placeholder {
    color: $color-type-medium;
  }
}


#disqus {
  margin-top: 1em;
}


.show {
  animation: show .1s;
  display: block;
}
.hide {
  animation: hide .1s;
  display: none;
}



@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}
@keyframes hide {
	0% {
		display: block;
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	99% {
		display: block;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	100% {
		display: none;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
}

@keyframes color-pulse {
  0%   { color: lighten($color-type-lite,10%);; }
  50%  { color: $color-mint; }
  100% { color: lighten($color-type-lite,10%); }
}
@keyframes bg-color-pulse {
  0%   { background-color: white; }
  50%  { background-color: $color-mint; }
  100% { background-color: white; }
}
