<div id="notification">
  <div>
    <strong>
      Bitte f端ge diese Seite zu den Ausnahmen deines Adblockers hinzu, sonst kannst Du nicht spenden!
    </strong>
    Keine Sorge, Du hast die volle Kontrolle 端ber die Funktionen dieser Seite!
    Aber dein <strong>Adblocker</strong> denkt ein Script w端rde ohne deine Zustimmung ausgef端hrt werden.
  </div>
</div>
